<!DOCTYPE HTML>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>
      <li>Body: <%= @discussion.body %></li>
      
    </ul>
  </body>
</html>